*{

    margin: 1;
    padding: 0;

}
body{
    background-image: url("ukrainian-capital-night-sky-desktop-wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /*background:linear-gradient(to right,skyblue,white);*/
    font-family: "Press Start 2P","sans-serif";
    font-style: italic;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
}

.card {
    width: 200px;
    box-sizing: border-box;
    overflow: hidden; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #f1eded; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%; 
    height: auto; 
    display: block;
}

.card h1 {
    font-size: 16px; 
    margin: 0; 
    padding: 10px; 
    text-align: center;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    text-decoration: underline;
}

.card span {
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px;
    text-align: center;
    font-size: 14px;
}